#    Copyright 2022 Contributors to the Eclipse Foundation
#
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
#    SPDX-License-Identifier: Apache-2.0

name: Build All

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-container-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
  
      - name: Build Docker image
        uses: ./.github/actions/build-container-image
        with:
          arch: ${{ matrix.arch }}
          run_number: ${{ github.run_number }}
          commit_hash: ${{ github.sha }}
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}

  push-container-image:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build-container-image
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - id: repo_name
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ github.repository }}
  
      - name: Log into registry ghcr.io
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - name: Create merged manifest and push
        env:
          REPO: ghcr.io/${{ steps.repo_name.outputs.lowercase }}
        run: |
          docker buildx imagetools create -t ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:build-${{ github.run_number }} ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:build-${{ github.run_number }}_arm64 ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:build-${{ github.run_number }}_amd64
          docker buildx imagetools create -t ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:latest ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:latest_arm64 ghcr.io/${{ steps.repo_name.outputs.lowercase }}/self-update-agent:latest_amd64

  build-native-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ arm64, amd64 ]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Build native binary
        id: build-native-binary
        uses: ./.github/actions/build-native-binary
        with:
          arch: ${{ matrix.arch }}
          run_number: ${{ github.run_number }}

      - name: Upload ${{ matrix.arch }} artifacts to workspace
        uses: actions/upload-artifact@v3
        with:
          path: self-update-agent-${{ matrix.arch }}-build-${{ github.run_number }}.tar.gz

      - name: Upload code coverage results to workspace
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v3
        with:
          path: code-coverage.tar.gz

      - name: Upload unit tests results to workspace
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v3
        with:
          path: unit_tests_report.txt

  upload-native-binary:
    runs-on: ubuntu-latest
    needs: build-native-binary
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: Upload artifacts to build results
        if: github.event_name == 'push'
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: true
          automatic_release_tag: build_${{ github.run_number }}
          title: "Build ${{ github.run_number }}"
          files: |
            ./artifact/unit_tests_report.txt
            ./artifact/code-coverage.tar.gz
            ./artifact/self-update-agent-amd64-build-${{ github.run_number }}.tar.gz
            ./artifact/self-update-agent-arm64-build-${{ github.run_number }}.tar.gz
